# GENERAL
/node_modules
/.yarn
/.pnp
.pnp.js
/coverage
/.next/
/out/
/build
.DS_Store
*.pem
.vercel
*.tsbuildinfo
backup

# DEBUG
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# LOCAL ENV FILES
.env.local
.env.development.local
.env.test.local
.env.production.local
